<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio - lista de documentos</title>
    <style>
        h1 {
            text-align: center;
            text-transform: uppercase;
            color: #03720e;
        }

    </style>
</head>
<body>

{% include "formulario/header.html" %}

<h1>Listado de documentos disponibles</h1>


{% if latest_pdf_list %}
    <div class="list-group">
        {% for pdf in latest_pdf_list %}
            {% if pdf.published %}
                <a type="button" class="list-group-item list-group-item-action"  href="{% url 'detail' pdf.id %}">
                    {{ pdf.pdf_name }}
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    <p>No hay formulario disponible</p>
{% endif %}

{% include "formulario/footer.html" %}

</body>
</html>

